@media (max-width:1250px){
    /*se ejecutara esto*/
    .wrap{
        width: 90%;
        margin: 0px auto;

    }
    .tarjeta{
        width: 17%;
        margin: 1.45%;
    }
    #articles{
        width: 66%;
    }
    #articles article{
        width: 97%;
    }
    footer .wrap >div{
        width: 26%;
    }
    #footer #browser img{
        width: 14%;
        margin-top: 10px;
    }
}